# This file was updated by Duplicator on 2022-09-27 12:49:32.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /WDPF/wordpress1/rabbany/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /WDPF/wordpress1/rabbany/index.php [L]
</IfModule>

# END WordPress